
.icon-award:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */